/node_modules
.idea
.vscode
package-lock.json
www/service-error.log
www/service.log
uploads/*
uploads/*/*/*
uploads/image/6/husky.jpg
uploads/image/12/Bengal.1.jpg
uploads/image/15/Bengal.1.jpg
uploads/image/2/husky.jpg
uploads/image/3/husky.jpg
uploads/image/4/husky.jpg
uploads/image/7/Bengal.1.jpg
uploads/image/8/Bengal.1.jpg
