body {
    font-family: "Karma", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    margin: 0; /* Remove default margin */
}

p {
    text-align: center;
    font-weight: bold;
}

h1 {
    color: rgb(228, 71, 66);
    font-family: "Karma";
    text-align: center;
}

h2 {
    color: rgb(228, 71, 66);
    text-align: center;
    font-family: "Karma";
    font-size: 30px;
}
.stats-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Puts space between the h4 and canvas */
    flex-wrap: wrap; /* Allows items to wrap onto the next line if not enough space */
    margin-bottom: 20px; /* Adds some space between each stats container */
  }
  
  .stats-container h4 {
    flex-basis: 30%; /* Adjust based on your content and preference */
    margin-right: 10px; /* Adds some space between the h4 and the canvas */
  }
  
  .stats-container canvas {
    flex-grow: 1; /* Allows the canvas to grow and fill available space */
  }
  

.menu {
    text-align: right;
    font-size: 20px;
    background-color: rgb(165, 235, 238);
}

main {
    flex: 1; /* Make the main content area grow to fill available space */
    margin-top: 150px;
}

#question_1,
#question_2,
#question_3,
#question_4,
#question_5,
#question_6,
#question_7 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: rgb(228, 71, 66);
    color: white;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}
