body {
    font-family: "Karma", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .w3-bar-block .w3-bar-item {
    padding: 20px;
  }
  
  p {
    text-align: left;
    font-weight: bold;
    color: black; /* Add color property */
  }
  
  h1 {
    color: rgb(228, 71, 66);
    font-family: "Karma";
    text-align: center;
  }
  
  h2 {
    color: rgb(228, 71, 66);
    text-align: center;
    font-family: "Karma";
    font-size: 30px;
  }
  
  .menu {
    text-align: right;
    font-size: 20px;
    background-color: rgb(165, 235, 238);
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(228, 71, 66);
    color: white;
    bottom: 0;
    position: relative;
    width: 100%;
  }
  
  .footer-push {
    flex-grow: 1; /* Push the footer to the bottom */
  }
  
  main {
    flex: 1; /* Make the main content area grow to fill available space */
  }
  
  /***/
  /* איפוס סגנונות ברירת מחדל */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* גוף הטופס */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* כותרת הטופס */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* פסקאות טקסט */
  p {
    margin-bottom: 10px;
  }
  
  /* תיוגים */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* שדות טקסט */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }
  
  /* שדות רדיו */
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* כפתור שליחה */
  button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  /* סגנונות ספציפיים לפי סעיף */

  /* במהלך האימוץ */
  .during_adoption {
    margin-bottom: 20px;
  }
  
  /* לאחר האימוץ */
  .after_adoption {
    margin-bottom: 20px;
  }
