body {
    font-family: "Karma", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: 100vh;
}

.w3-bar-block .w3-bar-item {
    padding: 20px;
}

p {
    text-align: left;
    font-weight: bold;
}

h1 {
    color: rgb(228, 71, 66);
    font-family: "Karma";
    text-align: center;
}

h2 {
    color: rgb(228, 71, 66);
    text-align: center;
    font-family: "Karma";
    font-size: 30px;
}

.menu {
    text-align: right;
    font-size: 20px;
    background-color: rgb(165, 235, 238);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(228, 71, 66);
    color: white;
    bottom: 0;
    position: relative;
    width: 100%;
}

.footer-push {
    flex-grow: 1; /* Push the footer to the bottom */
}
