<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Adopeti - New Match Email</title>
    <style>
      h1,h2 {
          color: #3a3939;
          text-align: center;
      }   
      p {
          text-align: center;
      }    
  </style>
</head>
<body style="margin: 0; padding: 0; background-color: #fab1e2;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
            <td>
                <h1 style="font-family: Trebuchet MS,  sans-serif; padding: 20px;">Hi there!</h1>
                <h2 style="font-family: Trebuchet MS,  sans-serif; padding: 10px;">A new animal has been matched with your preferences: <strong>{{animalName}}</strong>, a <strong>{{animalAge}}</strong>-year-old <strong>{{animalType}}</strong>.<br>{{description}}</h2>
                <img src="cid:unique_image_cid" alt="animalImage" style="display: block; margin: 0 auto;">
            </td>
            <tr>
              <td>
                <img href="#" src="cid:logo" alt="logo" style="display: block; margin: 0 auto; size: 30%;">
              </td>
            </tr>
        </tr>
    </table>
</body>
</html>
